<div class="row">
  <div class="col-12">
    <app-sort-filter [listQueryParams]="queryParams$ | async" (onChange)="onFiltersChange($event)"></app-sort-filter>
  </div>
</div>
<div class="row">
  <div class="col-12" *ngFor="let product of products$ | async">
    <app-product [product]="product" (onAdd)="onAdd($event)"></app-product>
  </div>
</div>

