<form [formGroup]="form">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Size</mat-label>
                <input matInput placeholder="Size" formControlName="size" type="number">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Sortowanie</mat-label>
                <mat-select formControlName="sort">
                    <mat-option *ngFor="let sortType of sortTypes" [value]="sortType">
                        {{sortType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
