<div class="row">
  <div class="col-md-6" *ngFor="let category of categories">
    <h2>{{category}}</h2>
    <a [routerLink]="'category/'+category" class="btn btn-primary">
      Przejdź
    </a>
  </div>
</div>
