<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <app-menu [test]="test"></app-menu><!-- komponent który ma zwierać menu specjalnie zdefiniowany
       w głownym komponecie gdyż ma pojawiać się na wszystkich podstronach nie zależnie od adresu -->
      <!-- <button type="button" (click)="test=2">zmien</button>-->
<!--      <button type="button" (click)="change()">zmien</button>-->
    </div>
    <div class="col-md-4">
      <app-top-cart></app-top-cart>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet><!-- miejsce gdzie renderują się komponety zdefiniowane w routes czyli przypisane do konretnego adresu -->
    </div>
  </div>
</div>
