<form [formGroup]="form" (submit)="onSubmit()">
  <div class="row">
    <div class="col-md-4">
      <img [src]="product?.image" class="img-fluid">
    </div>
    <div class="col-md-4">
      <h2>{{product?.title}}</h2>
      <p class="text-secondary">
        {{product?.price | currency}}
      </p>
      <p>{{product?.category | categoryChange}}</p>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <input matInput placeholder="Quantity" formControlName="quantity" type="number">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary">Dodaj</button>
      </div>
    </div>
  </div>
</form>
